.landing-container {
  width: 100%;
  height: auto;
  position: relative;
}

.logo-wrapper {
  position: relative;
  cursor: pointer;
}

.landing-logo {
  position: relative;
  width: 56%;
  /*height: 200px;*/
  /*border: 2px solid white;*/
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.landing-logo img {
  margin-top: 50px;
  display: inline-block;
  width: 100%;
}

.landing-logo:hover {
  img:first-child {
    display: none;
    background: inherit;
  }
  img:nth-child(2) {
    background: inherit;
    display: inline-block;
  }
  .landing-enter button {
    color: white;
    /*background-color: #C9302C;*/
  }
}

.landing-logo img:nth-child(2) {
  display: none;
}

.landing-enter {
  text-align: center;
}

.landing-enter button {
  margin-top: 30px;
  width: 75%;
  height: 40px;
  color: #121214;
  margin-bottom: 10px;
}

.mobile-landing-logo {
  position: relative;
  width: 56%;
  /*height: 200px;*/
  /*border: 2px solid white;*/
  margin: 0 auto;
  text-align: center;
  cursor: pointer;
}

.mobile-landing-logo img {
  display: inline-block;
  width: 100%;
}

.gmail-link {
  position: fixed;
  left: 50px;
  bottom: 0;
}

.youtube-wrapper {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;
}

#ytplayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.youtube-wrapper {
  -webkit-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 28px 0px rgba(0,0,0,0.75);
}

.admin-settings-button {
  &:hover {
    cursor: pointer;
  }
}

.landing-admin-accordion {
  background-color: $black;
  color: $primary-color;
  border: 1px solid $primary-color;
  .accordion-header {
    color: $primary-color;
    &:hover {
      color: $white-text;
    }
  }
  .panel-heading {
    background-color: $black;
    color: $primary-color;
  }
  .panel-body {
    border-top-color: $primary-color!important;
  }
}

.mode-menu {
  border-right: 1px solid $white-text;
  .radio h4 {
    margin-left: 10px;
    padding-top: 2px;
  }
}

.promo-video-url-wrapper {
  button {
    margin-top: 15px;
    width: 100%;
  }
}

.landing-save {
  button {
    width: 100%;
  }
}

.landing-loading {
  width: 100vh;
  height: 100vh;
  position: relative;
  .loading-spinner {
    position: absolute;
    top: 100%;
    left: 40%;
    width: 50%;
    height: 50%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
  .mobile-landing-logo img {
    max-width: 50%;
  }
  .promo-wrapper {
    max-width: 70%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) {
  .landing-wrapper {
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
  }
  .landing-enter button {
    margin-top: 20px;
    height: 30px;
    width: 100%;
  }
}

@media only screen and (min-device-width: 320px) and (max-device-width: 1024px) and (orientation: landscape) {
  .landing-logo {
    margin-top: 0;
  }
  .landing-logo img {
    width: 40%;
  }
}
