/*VARIABLES*/


/*Main: #143D7A*/


/*Black: #121214*/


/*Nav Background: #EEE*/


/*Nav Link Color: #333*/


/*Salmon pink: #de5b71*/


/*Colours*/

$primary-color: #a82f2f;
$black: #121214;
$nav-background: #EEE;
$white-text: #FFF;
$spotify-background: #282828;
$success: #2EBD59;
$black: #000;
$link-hover: #999;
$transparent: rgba(0,0,0,0);