<div class="col-sm-12 footer-bar" ng-if="bulwark.path !== '/'">
  <p class="text-center">Bulwark Records 2016</p>
  <div class="social-media-links">
    <div class="sm-link">
      <a href="https://facebook.com" target="_blank"><img src="/images/icons/facebook.png"></a>
    </div>
    <div class="sm-link">
      <a href="https://instagram.com" target="_blank"><img src="/images/icons/instagram.png"></div>
    <div class="sm-link">
      <a href="https://twitter.com" target="_blank"><img src="/images/icons/twitter.png"></a>
    </div>
    <div class="sm-link">
      <a href="https://youtube.com" target="_blank"><img src="/images/icons/youtube.png"></a>
    </div>
    <div class="sm-link">
      <a href="https://linkedin.com" target="_blank"><img src="/images/icons/linkedin.png"></a>
    </div>
  </div>
</div>
