<div class="col-sm-12 footer-bar" ng-if="bulwark.path !== '/'">
  <p class="text-center">Bulwark Records 2016</p>
  <div class="social-media-links">
    <div class="sm-link">
      <a href="https://facebook.com/bulwarkrecords/" target="_blank"><img src="/images/icons/facebook-red.png"></a>
    </div>
    <div class="sm-link">
      <a href="https://instagram.com/bulwarkrecords/" target="_blank"><img src="/images/icons/insta-red.png"></div>
    <div class="sm-link">
      <a href="https://twitter.com/bulwarkrecords/" target="_blank"><img src="/images/icons/twitter-red.png"></a>
    </div>
    <div class="sm-link">
      <a href="https://youtube.com/bulwarkrecords/" target="_blank"><img src="/images/icons/youtube-red.png"></a>
    </div>
    <div class="sm-link">
      <a href="mailto:bulwarkrecords@gmail.com"><img src="/images/icons/email-red.png"></a>
    </div>
  </div>
</div>
