<div class="col-xs-12">
	<loading-spinner type="absolute" ng-if="label.loading"></loading-spinner>
	<div>
	  <h3 class="contact-message" ng-class="label.hasError ? 'contact-error' : 'contact-success'">{{label.message}}</h3>
	</div>

	<div ng-if="bulwark.auth && !label.editOn && !label.loading">
	  <button ng-click="label.edit()" type="button" class="btn btn-danger submit-blog">Edit</button>
	</div>

	<any ng-bind-html="label.info.html" ng-hide="label.editOn || label.loading"></any>

	<div class="edit-info-wrapper" ng-if="bulwark.auth && label.editOn && !label.loading">
		<div text-angular class="custom-blog" ng-model="label.info.html"></div>
		<button ng-click="label.save()" type="button" class="btn btn-danger submit-blog">Save</button>
		<button ng-click="label.cancel()" type="button" class="btn btn-danger submit-blog">Cancel</button>
	</div>	
</div>
