<div ng-if="bulwark.auth">
  <h3 class="contact-message" ng-class="landing.hasError ? 'contact-error' : 'contact-success'">{{landing.message}}</h3>
</div>
<div class="admin-menu">
 <uib-accordion ng-if="bulwark.auth">
    <uib-accordion-group class="landing-admin-accordion" is-open="landing.isOpen">
    <span uib-accordion-heading><span class="accordion-header">Configure <i class="glyphicon glyphicon-cog"></span></i></span>
    <div class="col-xs-3">
      <div class="form-group mode-menu">
        <h2>Mode</h2>
        <hr>
        <div class="radio">
          <label>
            <input id="promoType" type="radio" class="form-control" ng-model="landing.info.landingType" value="default"><h4>Default</h4>
          </label>
        </div>
        <div class="radio">
          <label>
            <input id="promoType" type="radio" class="form-control" ng-model="landing.info.landingType" value="promo"><h4>Promo</h4>
          </label>
        </div>
      </div>
    </div>

    <div class="col-xs-9 promo-options-wrapper">
      <div class="promo-options" ng-show="landing.info.landingType === 'promo'">
        <form>
          <div class="form-group promo-video-url-wrapper">
            <label for="promoUrl">Promo Youtube Video Embed URL (e.g. https://www.youtube.com/embed/dQw4w9WgXcQ)</label>
            <input type="text" ng-model="landing.info.promoVideo" class="form-control" id="promoUrl" placeholder="URL">
          </div>
        </form>
      </div>
      <div class="landing-save">
        <button class="btn btn-info" type="button" ng-hide="success" ng-click="landing.save()">Save</button>
      </div>
    </div>
    </uib-accordion-group>
  </uib-accordion>
</div>

<div class="col-xs-12 landing-loading" ng-show="landing.loading">
  <loading-spinner type="absolute"></loading-spinner>
</div>
<div class="col-xs-12 landing-wrapper" ng-click="landing.location.path('/main')" ng-show="!landing.loading && landing.info.landingType === 'default'">
  <!--   <div class="landing-logo" ng-show="!landing.hover" ng-click="landing.location.path('/main')">
    <img ng-src="/images/logo-standard.png">
  </div> -->
  <div class="landing-logo" ng-touch="landing.location.path('/main')" ng-click="landing.location.path('/main')" ng-if="landing.screensize==='desktop'">
    <img ng-src="/images/logo-standard.png">
    <img ng-src="/images/logo-highlight.png">
    <div class="col-xs-12 landing-enter" ng-click="landing.location.path('/main')">
      <button class="btn btn-danger" ng-click="landing.location.path('/main')">ENTER</button>
    </div>
  </div>
  <div class="mobile-landing-logo" ng-touch="landing.location.path('/main')" ng-click="landing.location.path('/main')" ng-if="landing.screensize==='mobile'">
    <img ng-src="/images/logo-standard.png">
    <div class="col-xs-12 landing-enter" ng-click="landing.location.path('/main')">
      <button class="btn btn-danger" ng-click="landing.location.path('/main')">ENTER</button>
    </div>
  </div>
</div>

<div class="col-xs-12 landing-wrapper promo-wrapper" ng-show="!landing.loading && landing.info.landingType === 'promo'">
  <div class="youtube-wrapper">
    <iframe id="ytplayer" type="text/html" width="100%" ng-src="{{landing.info.promoVideo | trusted}}"
    frameborder="0"/>
  </div>
  <div class="col-xs-12 landing-enter" ng-click="landing.location.path('/main')">
    <button class="btn btn-danger" ng-click="landing.location.path('/main')">CONTINUE TO BULWARK RECORDS</button>
  </div>
</div>