<div class="modal-header">
    <h3 class="modal-title">Newsletter</h3>
    <p class="modal-close-button" ng-click="close()"><i class="glyphicon glyphicon-remove"></i></p>
</div>
<div class="modal-body">
	<form name="newsletterForm" novalidate="">
		<div class="form-group">
			<h3 ng-class="hasError ? 'contact-error' : 'contact-success'">{{signupMessage}}</h3>
			<h4>Email*</h4>
			<input class="form-control" ng-model="contactInfo.email" name="email" type="email" required>
			<p class="invalid-field" ng-show="(newsletterForm.email.$error.required || newsletterForm.email.$error.email) && newsletterForm.email.$touched">Please provide a valid email address.</p>

			<h4>Country</h4>
			<input class="country-select" name="country" data-ng-model="contactInfo.country" country-select>

			<h4>Postal / ZIP Code</h4>
			<input class="form-control" name="postal" ng-model="contactInfo.postal" type="text">

			<p class="opt-in-text">Would you like to receive information regarding current and upcoming artists, events and promotions? Your information will be kept safe and will not be sold to or shared with any third-parties.</p>
			<div class="opt-in">
				<div class="col-xs-1 checkbox-wrapper">
					<input class="form-control artist-contact-checkbox" name="optin" ng-model="contactInfo.artistContact" ng-checked="contactInfo.artistContact" type="checkbox">
				</div>
				<div class="col-xs-11 sign-me-up">
					<label for="optin" ng-click="contactInfo.artistContact = !contactInfo.artistContact"> Yes, sign me up.</label>
				</div>
			</div>
		</div>
	</form>
</div>
<div class="modal-footer text-center">
    <button class="btn btn-danger" type="button" ng-disabled="!newsletterForm.$valid" ng-hide="success" ng-click="submit()">Sign Up</button>
    <button class="btn btn-danger" type="button" ng-show="success" ng-click="close()">Close</button>
</div>