<loading-spinner type="absolute" ng-if="label.updateTextLoading"></loading-spinner>

<div>
  <h3 class="contact-message" ng-class="label.hasError ? 'contact-error' : 'contact-success'">{{prospectiveContact.updateMessage}}</h3>
</div>

<div ng-if="bulwark.auth && !prospectiveContact.editOn && !prospectiveContact.updateTextLoading">
  <button ng-click="prospectiveContact.edit()" type="button" class="btn btn-danger submit-blog">Edit</button>
</div>

<div class="col-sm-12" ngf-drop ng-model="prospectiveContact.files" ngf-multiple="true" ng-change="prospectiveContact.filesSelected()">
  <div class="edit-info-wrapper" ng-if="bulwark.auth && prospectiveContact.editOn && !prospectiveContact.updateTextLoading">
    <div text-angular class="custom-blog" ng-model="prospectiveContact.info.html"></div>
    <button ng-click="prospectiveContact.save()" type="button" class="btn btn-danger submit-blog">Save</button>
    <button ng-click="prospectiveContact.cancel()" type="button" class="btn btn-danger submit-blog">Cancel</button>
  </div>
  <any ng-bind-html="prospectiveContact.info.html" ng-hide="prospectiveContact.editOn || prospectiveContact.updateTextLoading"></any>
  <hr>
  <div class="general-contact" ng-hide="prospectiveContact.editOn || prospectiveContact.updateTextLoading">
    <div class="contact-loading" ng-show="prospectiveContact.inProgress">
      <loading-spinner type="absolute" ng-show="true"></loading-spinner>
    </div>
    <div>
      <h3 class="contact-message" ng-class="prospectiveContact.hasError ? 'contact-error' : 'contact-success'">{{prospectiveContact.message}}</h3>
      <h3 class="contact-message">{{prospectiveContact.uploadMessage}}</h3>
    </div>
    <form name="prospectiveForm" novalidate>
      <div class="form-group">
        <h5><label for="pro-name">Name<span>*</span></label></h5>
        <input id="pro-name" type="text" name="name" class="form-control" ng-model="prospectiveContact.query.name" ng-disabled="prospectiveContact.inProgress" required>
        <p class="invalid-field" ng-show="prospectiveForm.name.$error.required && prospectiveForm.name.$dirty">Please provide your name.</p>

        <h5><label for="pro-phone">Phone</label></h5>
        <input id="pro-phone" type="phone" name="phone" class="form-control" ng-model="prospectiveContact.query.phone" ng-disabled="prospectiveContact.inProgress">

        <h5><label for="pro-email">Email<span>*</span></label></h5>
        <input id="pro-email" type="email" name="email" class="form-control" ng-model="prospectiveContact.query.email" ng-disabled="prospectiveContact.inProgress" required>
        <p class="invalid-field" ng-show="prospectiveForm.email.$error.required && prospectiveForm.email.$touched">Please provide a valid email.</p>

        <h5 class="file-upload-label"><label for="pro-about">File Upload</label></h5>
        <p>Click upload button or drag files into this window to upload.</p>
        <!-- <div class="btn btn-danger" ngf-select="prospectiveContact.uploadFiles($files)" ngf-multiple="true" accept="audio/*,video/*,image/*">Select</div> -->
        
         <div class="btn btn-danger" ngf-select ng-model="prospectiveContact.files" ngf-multiple="true" accept="audio/*,video/*,image/*" ngf-max-size="1MB" name="uploader" ng-change="prospectiveContact.filesSelected()">Select <i class="glyphicon glyphicon-upload"></i>
         </div>
         <div class="row file-list">
          <div ng-repeat="name in prospectiveContact.fileNames">
            <div class="col-xs-6 col-sm-4 file-button">
              <button class="btn-danger" ng-click="prospectiveContact.removeFile(name)"><p>{{name}}</p><i class="glyphicon glyphicon-trash"></i></button>
            </div>
          </div>
         </div>
         <p class="invalid-field" ng-show="prospectiveForm.uploader.$invalid">Maximum file upload size is 5mb. Please upload a smaller file.</p>
         <!-- <button ng-click="prospectiveContact.uploadFiles()">Upload Test...</button> -->


        <!-- <button class="button" ngf-select="prospectiveContact.uploadFiles($files)" multiple="multiple">Upload</button> -->

        <h5><label for="pro-about">About You / Media Links<span>*</span></label></h5>
        <textarea id="pro-about" type="text" name="about" ng-model="prospectiveContact.query.about" class="form-control" ng-disabled="prospectiveContact.inProgress" required></textarea>
        <p class="invalid-field" ng-show="prospectiveForm.about.$error.required && prospectiveForm.about.$touched">Please tell us about yourself.</p>
      </div>
      <button ng-click="prospectiveContact.submit(prospectiveForm)" type="button" class="btn btn-danger" ng-disabled="!prospectiveForm.$valid || !prospectiveContact.uploadComplete">SUBMIT</button>
    </form>
  </div>
  <br>
</div>
